@model DanClarkeBlog.Web.ViewModels.HomeViewModel

<div class="postListing">
    @foreach (var post in Model.Posts)
    {
        <div class="blogPostDate">@post.PublishDate?.ToString("dd MMM yyyy")</div>
        <h1><a href="@post.Route">@post.Title</a></h1>
        <div>@Html.Raw(post.HtmlShortText)</div>

        foreach (var tag in post.Tags)
        {
            <a class="tag" href="/tags/@tag.ToLower()">@tag</a>
        }

        <hr />
    }
</div>

@await Html.PartialAsync("_Paging")